<h1>To-Do List</h1>
<p>Because if you don't do things, you'll die!</p>



<div id="banner">
  <div class= "sans">
    <div class="row">


        <div class = "home_search">


          <div class="row">
            <div class="medium-4 small-centered columns">
              <div class="row collapse">
                <div class="small-10 columns">


                   <form id="list-form">

                  <%= form_tag do %>


                  <div><%=text_field_tag :name, nil, placeholder: 'Ugh. Whatcha want to do?' %>

                    <div class= "button-wrap">


                        <%= button_tag(type: "submit", id: "da-Golden-Snitch", class: "search-button button postfix radius") do %>
                          Create
                        <% end %>

                        </form>
                      </div>

                    </div>
                  </div>
                  <% end %>

                </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="small-6 large-centered columns">

      To Do<ol id="to-do-list">
                <li>Breathe</li>
                <li>Eat all the Donuts</li>
              </ol>
  </div>

  Done<ol id="done-list">
                <li>Lose all dignity</li>
                <li>Watch "Top Gun"</li>
              </ol>
</div>





